<!-- <head>
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.description }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/syntax.css">
  {% feed_meta %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  {% include google-analytics.html %}
  {% seo %}
</head> -->

<head>
  <title>
    <!-- ICO 格式图标（根目录方案） -->
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.description }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/syntax.css">
  <!-- 新增的 Font Awesome 6 链接 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- 其他保留内容 -->
  {% feed_meta %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro">
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  {% include google-analytics.html %}
  {% seo %}
</head>